<div class="loginFormContainer">
    <h1>Login</h1>
    <form [formGroup]="loginForm" (ngSubmit)="login()">
        <div class="usernameGroup">
            <input type="text" placeholder="Username" id="username" name="username" formControlName="username" required>
        </div>
        <div class="passwordGroup">
            <input type="password" placeholder="Password" id="password" name="password" formControlName="password" required>
        </div>
        <button type="submit">Login</button>
    </form>

    <div class = "errorMessagesContainer" ></div>
    @if(loginForm.get('username')?.hasError('required') && submitted){
        <div class="errorMessage">Username is required</div>
    }
    @else if (loginForm.get('username')?.hasError('email') && submitted) {
        <div class="errorMessage">Username must be a valid email</div>
    }
    @if (loginForm.get('password')?.hasError('required') && submitted) {
        <div class="errorMessage">Password is required</div>
    }
    @else if (loginForm.get('password')?.hasError('pattern') && submitted){
        <div class="errorMessage">Password must be at least 8 characters long and contain at least one letter and one number</div>
    }
</div>

