.loginFormContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 270px;
    height: 250px;
    margin-top: 100px;
    padding: 20px;
    border: 1px solid rgb(153, 241, 255);
    background-color: rgba(153, 245, 255, 0.789);
    border-radius: 10px;
}

.loginFormContainer h1 {
    font-family: serif;
    font-size: large;
    margin-bottom: 30px;
    color: #333;
}

.loginFormContainer form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    row-gap: 5px;
}
.usernameGroup{
    width: 100%;
}
.passwordGroup{
    width: 100%;
}

.loginFormContainer input {
    width: calc(100% - 20px);
    padding: 6px;
    border: none;
    border-radius: 10px;
    background-color: #eef7f8;
}

.loginFormContainer button {
    width: calc(100% - 20px);
    padding: 6px;
    background-color: #333;
    color: #eef7f8;
    border: none;
    cursor: pointer;
    border-radius: 10px;
    margin-top: 30px;
    width: 33.3%;
}

.loginFormContainer button:hover {
    background-color: #555;
}

.errorMessage {
    color: red;
    font-size: 12px;
    margin-top: 5px;
}
