.container {
    display: grid;
    grid-template-columns: auto 1fr 1fr 1fr;
    grid-template-rows: auto 1fr;
    gap: 10px;
    row-gap: 20%;
    align-items: center;
}

.vertical-nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #333;
    padding: 20px;
}

.nav-icon {
    font-size: 24px;
    color: #eef7f8;
    margin-bottom: 10px;
    cursor: pointer;
}

.top-bar {
    grid-column: 2 / span 2;
    background-color: #333;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    left: 0;
    right: 0;
    height: 40px;
    width: 100%;
    align-items: center;
}

.title {
    color: #eef7f8;
    padding-left: 10px;
    grid-column: 1 / span 2;
}

.profile-manager {
    display: grid;
    grid-template-columns: auto auto;
    color: #eef7f8;
    grid-column: 5;
    align-items: center;
    justify-self: end;
}

.connectedUser {
    grid-column: 1;
}