<div class="main-content">
  <div class="user-info">
    <h2>User details</h2>
    <ul>
      <li>FirstName: {{userDetails}} </li>
      <li>LastName: {{userDetails}} </li>
      <li>Email: {{userDetails}} </li>
      <li>Specialization: {{userDetails}}</li>
      <li>Project: {{userDetails}}</li>
      <li>Group: {{userDetails}}</li>

       <!-- <li>Created by: {{userDetails?.createdBy}}</li>
        <li>Registration date: {{userDetails?.registerDate}}</li>
        <li>Last login: {{userDetails?.lastLogin}}</li>
        <li>Role: {{userDetails?.role}}</li>-->

    </ul>
  </div>
</div>
