.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto 1fr;
    gap: 10px;
    row-gap: 20%;
    align-items: center;
}

.top-bar {
    grid-column: 1 / span 3;
    background-color: #333;
    display: grid;
    grid-template-columns: repeat(6,1fr);
    left: 0;
    right: 0;
    height: 40px;
    width: 100%;
    align-items: center;
}

.title {
    color: #eef7f8;
    padding-left: 10px;
    grid-column: 1/2;
}

.profile-manager {
    display: grid;
    grid-template-columns: auto auto;
    color: #eef7f8;
    grid-column: 6;
    align-items: center;
    justify-self: end;
}

.accountIcon {
    grid-column: 2;
}

.connectedUser{
    grid-column: 1;
}

  